@charset "utf-8";
/* CSS Document */

html,body{
	height: 100%;
	overflow: hidden;
}


p{
	margin: 0px;
}

body{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 20px;
	margin: 0;
	color:#665743;
}

#container{
	height: 100%;
	background-color:#F6F7BE;
	margin: 0 auto;
	text-align: center;
	position: relative;
	padding: 0;
}

#mainStory{
	height: 42%;
	margin: 0 auto;
	background-color:#F6F7BE;
	vertical-align: middle;
}

#mainstoryText{
	padding: 50px 0 0 0;
}

#responseBlok{
	color:#676767;
	height: 42%;
	margin: 0 auto;
	background-color:#E5AC27;
}

#response{
	
}

#responsePadding{
	padding: 50px 0 0 0;
}

#inputField{
	 box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	width: 100%;
	height: 16%;
	background-color: #BF4E28;
	border: 5px #665743 solid; 
}

#inputPadding{
	padding: .5em 0 0 0;
}

input:focus{
	 outline: none;
}

#typeHere{
	height: 100%;
	width: 100%;
	overflow: hidden;
	font-size: 20px;
	border:none; 
	text-align: center;
	background: transparent;
	color:#312A20;
}


.typed-cursor{
	opacity: 1;
	animation: typedjsBlink 1s infinite;
	-webkit-animation: typedjsBlink 1s infinite;
	animation: typedjsBlink 1s infinite;
	margin:0 0 0 2px;
}
@keyframes typedjsBlink{
	50% { opacity: 0.0; }
}
@-webkit-keyframes typedjsBlink{
	0% { opacity: 1; }
	50% { opacity: 0.0; }
	100% { opacity: 1; }
}

